################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OOP-Project/x64/Debug
/x64/Debug
/OOP-Project.sln
/OOP-Project.vcxproj
/OOP-Project.vcxproj.filters
/OOP-Project.vcxproj.user
